/* Set the background of the entire document */
body {
  background-color: #00b3e6; /* Light blue */
  font-family: "Helvetica Neue", sans-serif; /* Global font */
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Style all div elements */
div {
  width: 700px; /* Set width */
  margin: auto; /* Center the div */
  background: white; /* Set background */
  padding: 30px; /* Padding */
  font-family: "Helvetica Neue", sans-serif; /* Ensure font applies */
}

/* Style the element with id 'main-header' */
#main-header {
  font-size: 22px;
  color: red;
}

/* Style elements with the class 'perspective-questions' */
.perspective-questions {
  font-style: italic;
}

